
*.tlog
Client/.vs/Client/FileContentIndex/223ea762-d05f-462c-b98a-a956b2b975ef.vsidx
Client/.vs/Client/FileContentIndex/2c244e27-5a8c-41b1-9bbb-92537cc9984e.vsidx
Client/.vs/Client/FileContentIndex/3fe0a8f7-8d23-4767-aca4-7f842a8435f4.vsidx
Client/.vs/Client/FileContentIndex/8592e9f9-1f74-4476-b612-5ec81a5292ca.vsidx
Client/.vs/Client/FileContentIndex/b20d6d32-2127-47cc-896a-8926bd8b1bf5.vsidx
Client/.vs/Client/FileContentIndex/ef6638f9-3b91-445f-84a3-7414aa26cb9a.vsidx
Client/.vs/Client/v17/.suo
Client/.vs/Client/v17/Browse.VC.db
Client/.vs/Client/v17/fileList.bin
Client/.vs/Client/v17/ipch/AutoPCH/4d797938fa302df7/WINDOW.ipch
Client/.vs/Client/v17/ipch/AutoPCH/4fbd75fed5cac349/LOGGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/51699fc643d8cd5c/ALL_VECS.ipch
Client/.vs/Client/v17/ipch/AutoPCH/526d431dfcfd4f54/MY_VEC.ipch
Client/.vs/Client/v17/ipch/AutoPCH/82e8a467088acd3b/CLIENT.ipch
Client/.vs/Client/v17/ipch/AutoPCH/b5f90604ab3c675e/ALL_VECS.ipch
Client/.vs/Client/v17/ipch/AutoPCH/ef4cb5f8a73211c8/LOGGER.ipch
Client/.vs/Client/v17/ipch/AutoPCH/f3dfc57898d32d69/MAIN.ipch
Client/.vs/Client/v17/Solution.VC.db
Client/x64/Debug/Client.exe
Client/x64/Debug/Client.exe.recipe
Client/x64/Debug/Client.ilk
Client/x64/Debug/Client.log
Client/x64/Debug/Client.obj
Client/x64/Debug/Client.pdb
Client/x64/Debug/Client.vcxproj.FileListAbsolute.txt
Client/x64/Debug/Logger.obj
Client/x64/Debug/Main.obj
Client/x64/Debug/Request.obj
Client/x64/Debug/vc143.idb
Client/x64/Debug/vc143.pdb
Client/.vs/Client/v17/Browse.VC.db
Client/.vs/Client/v17/.suo
Client/.vs/Client/FileContentIndex/8592e9f9-1f74-4476-b612-5ec81a5292ca.vsidx
Client/.vs/Client/FileContentIndex/8592e9f9-1f74-4476-b612-5ec81a5292ca.vsidx
Client/.vs/Client/v17/.suo
Client/.vs/Client/v17/Browse.VC.db
